body,
td,
th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #555555;
	font-size: 14px;
}

a:link {
	color: #106DA5;
	text-decoration: none;
}

a:visited {
	color: #106DA5;
	text-decoration: none;
}

a:active {
	color: #106DA5;
	text-decoration: none;
}

a:hover {
	color: #2CA4EB;
	text-decoration: underline;
}

li {
	padding: 0.2rem;
}

hr {
	color: #fcfcfc;
}

table {
	border-collapse: collapse;
}

table td,
th {
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

table tr {
	transition: background 0.2s ease-in;
}

table th,
tr:nth-child(even) {
	background: #ffffff;
}

table tr:nth-child(odd) {
	background: #eeeeee;
}

table tr:hover {
	background: #dddddd;
}

.centered {
	text-align: center;
}

.subdued {
	color:#cccccc;
}


code {
  font-size: 100%; 
  color: #e83e8c;
  word-break: break-word;
}

img {
  padding: 10px;
}

 .sticky-side-nav {
    height: 100%;
    width: 160px; 
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: #eeeeee;
    overflow-x: hidden;
    padding: 20px 0px 20px 0px;
  }
  
  .sticky-side-nav a {
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    /* transition: background 0.2s ease-in; */
  }
  
  .sticky-side-nav a:hover {
	background: #dddddd;
  }
  
  .main-content {
    margin-left: 160px;
    padding: 10px 20px 10px 20px;
  }

  .credit {
    position: absolute; 
    bottom: 50px;
    width: 100%; 
    height: 30px; 
    padding-bottom: 5px; 
    font-size: 10px;
    text-align: center;
  }

  .section {
    border-bottom: 1px solid #eeeeee !important;
  }

  .block {
    padding-bottom: 10px;
  }